kicad/esp32_breakout/esp32_breakout-backups/*.zip
kicad/pico_breakout_head/pico_breakout_head-backups/*.zip
kicad/pico_breakout_body/pico_breakout_body-backups/*.zip
kicad/lds02rr_adapter/lds02rr_adapter-backups/*.zip
kicad/neato_adapter/Neato_adapter-backups/*.zip
